<div style="display: flex">

  <div #firstList="cdkDropList" cdkDropList [cdkDropListData]="numbers" (cdkDropListDropped)="drop($event)"  [cdkDropListConnectedTo]="otherList" style="width: 25%; border:solid yellow 5px;">

    <div cdkDrag *ngFor="let number of numbers" class="item">{{number}}</div>

  </div>

  <div #otherList="cdkDropList" cdkDropList [cdkDropListData]="orherNumbers" (cdkDropListDropped)="drop($event)"  [cdkDropListConnectedTo]="firstList" style="width: 25%; border:solid blue 5px;">
    <div cdkDrag *ngFor="let number of orherNumbers" class="item">{{number}}</div>
  </div>

</div>


